@font-face {
    font-family: sideFont;
    src: url(odin.otf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(240, 235, 235);
    display: flex;
    flex-direction: row;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}

.side-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.main-img{
    position: relative;
    height: 100vh;
    width: 500px;
}

section{
    padding: 8px 0 8px 0;
    position: absolute;
    top: 38%;
    left: 0%;
    transform: translateY(-50%);
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(0, 0, 1, 0.5);
}
.odin-word{
    font-size:80px;
    font-family: sideFont;
}
.top-text-container{
    margin-top: 12%;
    width: 52%;
    padding-left: 42px;

}
.top-text{
    font-weight: 600;
    font-size: 20px;
}
form{
    width: 100%;
}
.inputs-container{
    padding: 42px;
    color: #f5f5;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
label{
    display: flex;
    color: rgb(36, 21, 21);
}
.inputs{
    display: flex;
    gap: 48px;
}
input{
    padding: 8px;
    border: 1px solid #afafaf;
    border-radius: 8px;
    width: 240px;
}
.container{
    display: flex;
    flex-direction: column;
}